@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

:root {
    --gray: #C0C0C0;
    --btn: #167BF7;
    --bg: #00030C;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}